<div class="card-image-text-horizontal">
  <div class="card-image-text-horizontal__media">
    <img
      class="card-image-text-horizontal__image"
      src="/snippets/card-sample-01.jpg"
      alt=""
      width="640"
      height="360"
      decoding="async"
    />
  </div>
  <div class="card-image-text-horizontal__body">
    <h3 class="card-image-text-horizontal__title">タイトル</h3>
    <p class="card-image-text-horizontal__text">
      ここに説明テキストが入ります。<br />ここに説明テキストが入ります。ここに説明テキストが入ります。
    </p>
    <a class="card-image-text-horizontal__button" href="#">詳しく見る</a>
  </div>
</div>
