<div class="radio-group">
  <label class="radio-group__item">
    <input
      class="radio-group__input"
      type="radio"
      name="radio-group"
      value="option-1"
      checked
    />
    <span class="radio-group__text">テキスト1</span>
  </label>
  <label class="radio-group__item">
    <input
      class="radio-group__input"
      type="radio"
      name="radio-group"
      value="option-2"
    />
    <span class="radio-group__text">テキスト2</span>
  </label>
  <label class="radio-group__item">
    <input
      class="radio-group__input"
      type="radio"
      name="radio-group"
      value="option-3"
    />
    <span class="radio-group__text">テキスト3</span>
  </label>
</div>
