<div class="checkbox-group">
  <label class="checkbox-group__item">
    <input
      class="checkbox-group__input"
      type="checkbox"
      name="checkbox-group"
      value="option-1"
      checked
    />
    <span class="checkbox-group__text">テキスト1</span>
  </label>
  <label class="checkbox-group__item">
    <input
      class="checkbox-group__input"
      type="checkbox"
      name="checkbox-group"
      value="option-2"
    />
    <span class="checkbox-group__text">テキスト2</span>
  </label>
  <label class="checkbox-group__item">
    <input
      class="checkbox-group__input"
      type="checkbox"
      name="checkbox-group"
      value="option-3"
    />
    <span class="checkbox-group__text">テキスト3</span>
  </label>
</div>
