<nav class="breadcrumb-basic-slash" aria-label="パンくず">
  <ol class="breadcrumb-basic-slash__list">
    <li class="breadcrumb-basic-slash__item">
      <a class="breadcrumb-basic-slash__link" href="#">ホーム</a>
    </li>
    <li class="breadcrumb-basic-slash__item">
      <a class="breadcrumb-basic-slash__link" href="#">カテゴリ</a>
    </li>
    <li class="breadcrumb-basic-slash__item">
      <span class="breadcrumb-basic-slash__current" aria-current="page"
        >現在のページ</span
      >
    </li>
  </ol>
</nav>
