.u-scroll-reveal-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-sidebar-size);
  appearance: none;
}

.u-scroll-reveal-scrollbar::-webkit-scrollbar-button,
.u-scroll-reveal-scrollbar::-webkit-scrollbar-button:single-button,
.u-scroll-reveal-scrollbar::-webkit-scrollbar-button:vertical:start:decrement,
.u-scroll-reveal-scrollbar::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
  width: 0;
  height: 0;
  appearance: none;
}

.u-scroll-reveal-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.u-scroll-reveal-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: var(--radius-full);
  transition: background-color var(--transition-fast);
}

.u-scroll-reveal-scrollbar.is-scrolling::-webkit-scrollbar-thumb {
  background-color: var(--color-sidebar-scrollbar-thumb);
}

@supports (-moz-appearance: none) {
  .u-scroll-reveal-scrollbar {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }

  .u-scroll-reveal-scrollbar.is-scrolling {
    scrollbar-color: var(--color-sidebar-scrollbar-thumb) transparent;
  }
}
