<div class="card-image-text-row-3">
  <div class="card-image-text">
    <div class="card-image-text__media">
      <img
        class="card-image-text__image"
        src="/snippets/card-sample.jpg"
        alt=""
        width="640"
        height="360"
        decoding="async"
      />
    </div>
    <div class="card-image-text__body">
      <h3 class="card-image-text__title">タイトル</h3>
      <p class="card-image-text__text">
        ここに説明テキストが入ります。<br />ここに説明テキストが入ります。ここに説明テキストが入ります。
      </p>
      <a class="card-image-text__button" href="#">詳しく見る</a>
    </div>
  </div>
  <div class="card-image-text">
    <div class="card-image-text__media">
      <img
        class="card-image-text__image"
        src="/snippets/card-sample.jpg"
        alt=""
        width="640"
        height="360"
        decoding="async"
      />
    </div>
    <div class="card-image-text__body">
      <h3 class="card-image-text__title">タイトル</h3>
      <p class="card-image-text__text">ここに説明テキストが入ります。</p>
      <a class="card-image-text__button" href="#">詳しく見る</a>
    </div>
  </div>
  <div class="card-image-text">
    <div class="card-image-text__media">
      <img
        class="card-image-text__image"
        src="/snippets/card-sample.jpg"
        alt=""
        width="640"
        height="360"
        decoding="async"
      />
    </div>
    <div class="card-image-text__body">
      <h3 class="card-image-text__title">タイトル</h3>
      <p class="card-image-text__text">
        ここに説明テキストが入ります。<br />ここに説明テキストが入ります。ここに説明テキストが入ります。
      </p>
      <a class="card-image-text__button" href="#">詳しく見る</a>
    </div>
  </div>
</div>
