<div class="accordion-basic js-accordion-basic">
  <div class="accordion-basic__list">
    <details class="accordion-basic__item js-accordion-basic-item">
      <summary class="accordion-basic__trigger">
        <span class="accordion-basic__trigger-text">項目1</span>
        <span class="accordion-basic__icon" aria-hidden="true">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M5 8l5 5 5-5"
              stroke="currentColor"
              stroke-width="1.8"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </summary>
      <div class="accordion-basic__panel js-accordion-basic-panel">
        <div class="accordion-basic__panel-inner">
          <ul class="accordion-basic__menu">
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク1</a>
            </li>
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク2</a>
            </li>
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク3</a>
            </li>
          </ul>
        </div>
      </div>
    </details>

    <details class="accordion-basic__item js-accordion-basic-item">
      <summary class="accordion-basic__trigger">
        <span class="accordion-basic__trigger-text">項目2</span>
        <span class="accordion-basic__icon" aria-hidden="true">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M5 8l5 5 5-5"
              stroke="currentColor"
              stroke-width="1.8"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </summary>
      <div class="accordion-basic__panel js-accordion-basic-panel">
        <div class="accordion-basic__panel-inner">
          <ul class="accordion-basic__menu">
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク1</a>
            </li>
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク2</a>
            </li>
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク3</a>
            </li>
          </ul>
        </div>
      </div>
    </details>

    <details class="accordion-basic__item js-accordion-basic-item">
      <summary class="accordion-basic__trigger">
        <span class="accordion-basic__trigger-text">項目3</span>
        <span class="accordion-basic__icon" aria-hidden="true">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M5 8l5 5 5-5"
              stroke="currentColor"
              stroke-width="1.8"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </summary>
      <div class="accordion-basic__panel js-accordion-basic-panel">
        <div class="accordion-basic__panel-inner">
          <ul class="accordion-basic__menu">
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク1</a>
            </li>
            <li class="accordion-basic__menu-item">
              <a class="accordion-basic__link" href="#">リンク2</a>
            </li>
          </ul>
        </div>
      </div>
    </details>
  </div>
</div>
