/* reset */
:where(h2).heading-balloon {
  margin: 0;
  font: inherit;
}

/* snippet */
.heading-balloon {
  --heading-bg: #2b36f5;
  --heading-color: #fff;
  --heading-tail-width: 12px;
  --heading-tail-height: 8px;

  position: relative;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: var(--heading-tail-height);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--heading-color);
  background-color: var(--heading-bg);
  border-radius: 4px;

  &::after {
    position: absolute;
    bottom: calc(var(--heading-tail-height) * -1);
    left: 50%;
    width: var(--heading-tail-width);
    height: var(--heading-tail-height);
    content: "";
    background-color: var(--heading-bg);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    translate: -50% 0;
  }
}
