<div class="carousel-embla-vertical js-carousel-embla-vertical">
  <div class="carousel-embla-vertical__viewport">
    <div class="carousel-embla-vertical__container">
      <div class="carousel-embla-vertical__slide">
        <img
          class="carousel-embla-vertical__image"
          src="/snippets/card-sample.jpg"
          alt=""
          width="640"
          height="360"
          decoding="async"
        />
      </div>
      <div class="carousel-embla-vertical__slide">
        <img
          class="carousel-embla-vertical__image"
          src="/snippets/card-sample.jpg"
          alt=""
          width="640"
          height="360"
          decoding="async"
        />
      </div>
      <div class="carousel-embla-vertical__slide">
        <img
          class="carousel-embla-vertical__image"
          src="/snippets/card-sample.jpg"
          alt=""
          width="640"
          height="360"
          decoding="async"
        />
      </div>
      <div class="carousel-embla-vertical__slide">
        <img
          class="carousel-embla-vertical__image"
          src="/snippets/card-sample.jpg"
          alt=""
          width="640"
          height="360"
          decoding="async"
        />
      </div>
      <div class="carousel-embla-vertical__slide">
        <img
          class="carousel-embla-vertical__image"
          src="/snippets/card-sample.jpg"
          alt=""
          width="640"
          height="360"
          decoding="async"
        />
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/embla-carousel@8.6.0/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/embla-carousel-auto-scroll@8.6.0/embla-carousel-auto-scroll.umd.js"></script>
