<nav class="pagination-basic" aria-label="ページネーション">
  <ul class="pagination-basic__list">
    <li class="pagination-basic__item">
      <a
        class="pagination-basic__control pagination-basic__control--prev"
        href="#"
        aria-label="前のページ"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M14 6L8.70711 11.2929C8.31658 11.6834 8.31658 12.3166 8.70711 12.7071L14 18"
          />
        </svg>
      </a>
    </li>
    <li class="pagination-basic__item">
      <a class="pagination-basic__page" href="#">1</a>
    </li>
    <li class="pagination-basic__item">
      <span class="pagination-basic__ellipsis" aria-hidden="true">…</span>
    </li>
    <li class="pagination-basic__item">
      <a class="pagination-basic__page" href="#">2</a>
    </li>
    <li class="pagination-basic__item">
      <span
        class="pagination-basic__page pagination-basic__page--current"
        aria-current="page"
        >3</span
      >
    </li>
    <li class="pagination-basic__item">
      <a class="pagination-basic__page" href="#">4</a>
    </li>
    <li class="pagination-basic__item">
      <span class="pagination-basic__ellipsis" aria-hidden="true">…</span>
    </li>
    <li class="pagination-basic__item">
      <a class="pagination-basic__page" href="#">10</a>
    </li>
    <li class="pagination-basic__item">
      <a
        class="pagination-basic__control pagination-basic__control--next"
        href="#"
        aria-label="次のページ"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M10 6L15.2929 11.2929C15.6834 11.6834 15.6834 12.3166 15.2929 12.7071L10 18"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>
