<a class="card-image-text-link" href="#">
  <div class="card-image-text-link__media">
    <img
      class="card-image-text-link__image"
      src="/snippets/card-sample.jpg"
      alt=""
      width="640"
      height="360"
      decoding="async"
    />
  </div>
  <div class="card-image-text-link__body">
    <h3 class="card-image-text-link__title">タイトル</h3>
    <p class="card-image-text-link__text">
      ここに説明テキストが入ります。<br />ここに説明テキストが入ります。ここに説明テキストが入ります。
    </p>
    <span class="card-image-text-link__label">詳しく見る</span>
  </div>
</a>
